---
# specific stylings for index.html
---

// turnofphrase
#phrase-container-box {
	display: inline-block;
	margin: 45px 40px;
	* {
		cursor: pointer;
	}
}

$phrase-img-total-width: 780px;
$phrase-img-total-height: 350px;
$phrase-img-margin: 40px;
#phrase-container-box img {
	height: $phrase-img-total-height - 2 * $phrase-img-margin;
	width: $phrase-img-total-width - 2 * $phrase-img-margin;
	margin: $phrase-img-margin;
}



// wants_needs_canvas
#wantsneeds_canvas {
	width: 350px;
	height: 350px;
	margin: 0px 40px;
}