---
# We cannot remove these dashes (stupid, I know)
---

$background-color: #fff;
$body-padding: 0px;

body {
  margin: 0;
  padding: $body-padding;
  background: $background-color;  
}

//  homepage
$home-margin-top: 100px;
.home {
  margin-top: $home-margin-top;
  padding: 0px;
  text-align: center;
  div {
    display: inline-block;
  }
  img {
    vertical-align: top;
    display: inline;
  }
}

// nav
$header-top-margin: 40px;
$header-left-margin: 50px;
$header-right-margin: 75px;

$nav-active: #000;
$nav-inactive: #aaa;

#nav {
  width: 100%;
  text-transform: uppercase;
  > div {
    position: fixed;
    top: $header-top-margin;
  }
}

#nav-title {
  font-size: 20px;
  left: $header-left-margin;
}

#nav-links {
  font-size: 18px;
  right: $header-right-margin;
  > span {
    margin-right: 30px;
    color: $nav-inactive;
    &.active {
      color: $nav-active;
    }
  }
}

// footer
#footer {
  text-align: center;
}

// homepage items

//     'big'     [breakpoint1]    'medium'    [breakpoint2]    'small'

$break-point-1: 1200px;
$break-point-2: 900px;

$col-width: 350px;
$col-padding: 40px;
$col-padding-vert: 45px;

@media screen and (min-width: $break-point-1) {
  max-width: $col-width * 3 + ($col-padding * 2) * 2;
}


// 'medium'
@media screen and (max-width: $break-point-1) {
  .home {
    // two columns
    max-width: $col-width * 2 + $col-padding * 2;
  } 
}

// 'big'

.col-1 {
  width: $col-width * 1;
}
.col-2 {
  width: $col-width * 2 + $col-padding * 1;
}
.col-3 {
  width: $col-width * 3 + $col-padding * 2;
}
.img-col-1 {
  padding: $col-padding-vert $col-padding;
  img {    
    width: $col-width * 1;
  }
}
.img-col-2 {
  padding: $col-padding-vert $col-padding;
  img {  
    width: $col-width * 2 + $col-padding * 1;
  }
}
.img-col-3 {
  padding: $col-padding-vert $col-padding;
  img {  
    width: $col-width * 3 + $col-padding * 2;
  }
} 

//   a post
.post-body {
  margin-top: 25px;
}
.post-subimage {
  max-height: 350px;
  padding: 20px;
}