---
# Only the main Sass file needs front matter (the dashes are enough)
---

$max-thumbnail-height: 300px;

body {
  padding: 40px;
  background: #f4f4f4;  
}

//  homepage
.home {
  padding: 20px;
  text-align: center;
  > * {
    display: inline;
    vertical-align: top;
  }
}

#nav-title {
  font-size: 20px;
}

#nav-link {
  font-size: 18px;
  span {
    margin-right: 5px;
  }
}

// homepage items

//     'big'     [breakpoint1]    'medium'    [breakpoint2]    'small'

$break-point-1: 1200px;
$break-point-2: 900px;

$col-width: 350px;
$col-padding: 40px;
$col-padding-vert: 45px;

@media screen and (min-width: $break-point-1) {
  max-width: $col-width * 3 + ($col-padding * 2) * 2;
}


// 'medium'
@media screen and (max-width: $break-point-1) {
  .home {
    // two columns
    max-width: $col-width * 2 + $col-padding * 2;
  } 
}

// 'big'

.col-1 {
  width: $col-width * 1;
}
.col-2 {
  width: $col-width * 2 + $col-padding * 1;
}
.col-3 {
  width: $col-width * 3 + $col-padding * 2;
}
.img-col-1 {
  img {    
    width: $col-width * 1;
    padding: $col-padding-vert $col-padding;
  }
}
.img-col-2 {
  img {  
    width: $col-width * 2 + $col-padding * 1;
    padding: $col-padding-vert $col-padding;
  }
}
.img-col-3 {
  img {  
    width: $col-width * 3 + $col-padding * 2;
    padding: $col-padding-vert $col-padding;
  }
} 

//   a post
.post-body {
  margin-top: 25px;
}
.post-subimage {
  max-height: 350px;
  padding: 20px;
}