---
# We cannot remove these dashes (stupid, I know)
---

// make things big
html, body { height: 100% }

// fonts
h1, h2, h3, h4, h5, h6, p, span, div {
  font-family: 'Domine', serif;
}
.tag {
  font-family: 'Varela Round', sans-serif;
}

// defaults

$background-color: #fff;
$body-padding: 0px;

body {
  margin: 0;
  padding: $body-padding;
  background: $background-color;  
}

//  homepage
$home-margin-top: 100px;
.home {
  margin-top: $home-margin-top;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  text-align: center;
  div {
    display: inline;
  }
  img {
    vertical-align: top;
    cursor: pointer;
  }
  canvas {
    cursor: pointer;
  }
}

// nav
$header-top-margin: 40px;
$header-left-margin: 50px;
$header-right-margin: 75px;

$active: #000;
$inactive: #999;

#nav {
  width: 100%;
  text-transform: uppercase;
  > div {
    position: fixed;
    top: $header-top-margin;
  }
}

#nav-title {
  font-size: 20px;
  left: $header-left-margin;
  a {
    color: $active;
    text-decoration: none;
  }
}

#nav-links {
  font-size: 18px;
  right: $header-right-margin;
  > span {
    margin-right: 30px;
    color: $inactive;
    &.active {
      color: $active;
      &:hover {
        cursor: default;
      }
    }
    &:hover {
      color: $active;
      cursor: pointer;
    }
  }
}

// footer
#footer {
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 20px;
  margin-top: 125px;
  text-align: center;
  a {
    cursor: pointer; 
    text-decoration: underline;
  }
}

// homepage items

//     'big'  |   [breakpoint1]  |  'medium'  |  [breakpoint2]  |  'small'

$break-point-1: 1200px;
$break-point-2: 900px;

$col-width: 350px;
$col-padding: 40px;
$col-padding-vert: 45px;

$buffer-width: 10px;


// > [breakpoint1] (big)
@media screen and (min-width: $break-point-1) {
  .home {
    // three columns
    width: $col-width * 3 + ($col-padding * 2) * 3 + $buffer-width;
  }
}


// > [breakpoint2] (medium)
@media screen and (min-width: $break-point-2) and (max-width: $break-point-1) {
  .home {
    // two columns
    width: $col-width * 2 + ($col-padding * 2) * 2 + $buffer-width;
  } 

  .col-3 {
    width: $col-width * 2 + $col-padding * 2;
  }

  .img-col-3 {
    img {  
      padding: $col-padding-vert $col-padding;
      width: $col-width * 2 + $col-padding * 1;
    }
  }
}

// (small)

.col-1 {
  width: $col-width * 1;
}
.col-2 {
  width: $col-width * 2 + ($col-padding * 2) * 1;
}
.img-col-1 {
  img {    
    padding: $col-padding-vert $col-padding;
    width: $col-width * 1;
  }
}
.img-col-2 {
  img {  
    padding: $col-padding-vert $col-padding;
    width: $col-width * 2 + $col-padding * 1;
  }
} 

//   a post
$post-margin-top: 163px;

.post {
  margin-top: $post-margin-top;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  .main-image {
    margin-top: 50px;
    max-height: 350px;
  }
  .subimage {
    margin-top: 90px;
    max-height: 350px;
    padding: 0;
  }
}

#prevnext {
  color: $inactive;
  font-size: 40px;
  font-weight: bold;
  margin-top: 90px;
  a {
    &:hover {
      color: $active;
      cursor: pointer;
    }
  }
}