---
---

$breakpoint-phone: 480px;
$posts-top-margin: 50px;

$nav-svg-size: 40px;
$nav-mob-height: 84px;

$mobile-nav-icon-padding: 20px;
$mobile-name-header-font-size: 50px;

$mobile-icon-active: #333;
$mobile-icon-inactive: #ccc;

.home-mobile, #nav-mobile {
	display: none;
}

/* Tablet & Phone SCSS */
@media only screen and (max-device-width: $breakpoint-phone) {

  body {
  	display: flex;
  	flex-direction: column;
  }
  // Homepage
  .home, #nav {
  	display: none;
  }
  .home-mobile, #nav-mobile {
  	display: inline;
  }
  .home-mobile {
  	margin-top: $nav-mob-height;
  	text-align: center;
	flex: 1; // sticky footer
	> #name-header {
		// "John Morris" header
		font-size: $mobile-name-header-font-size;
	}
  	> .posts {
  		margin-top: $posts-top-margin;
  	}
  }
  #nav-mobile {
  	position: fixed;
  	width: 100%;
  	> a {
  		padding: $mobile-nav-icon-padding;
  		> img {
  			// for sizing icons before svg path js loads
  			width: $nav-svg-size;
  			height: $nav-svg-size;
  		}
  		&.link-disabled {
  			> svg {
  				fill: $mobile-icon-inactive;
  			}
  		}
  		> svg {
  			fill: $mobile-icon-active;  
  			width: $nav-svg-size;
  			height: $nav-svg-size;				
  		}
  	}
  }
  .img-container {
	display: inline;
	margin: auto;
	text-align: center;
    > img { 
	  width: 40%;
	  padding: 4.5%;
    }
  }

  // Project Page
  .post {
  	margin-top: $nav-mob-height;
  	.titlebox {
  		margin-top: 100px;
  	}
  	.title {
  		font-size: 3em;
  	}
  	.imagebox {
  		margin-top: 100px;
  	}
  	.subimage {
  		margin-bottom: 50px;
  	}
  }

  // hide prev& next on project Page
  #prevnext { 
  	display: none;
  }

  #footer {
  	margin-top: 0;
  }
}