---
# specific stylings for post pages
---

// sticky footer specs
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.post {
	flex: 1;
}

// phrase container specs
#phrase-container-box {
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 90px;
	#phrase-container {
		z-index: -1;
		width: 100%; 
		img {
			width: 100%;
		}
	}
}



// wants_needs_canvas specs
#wantsneeds_canvas {
	width: 800px;
	height: 800px;
	padding: 0px 40px;
}

// arrows
$arrowactive: #000;
$arrowinactive: #999;

$arrowsize: 35px;
$arrowmargin: 35px;
.arrow-button {
    position: fixed;
    top: 50%;
    width: $arrowsize;
    height: $arrowsize;
    transform: translateY(-50%);
    fill: $arrowinactive;
    &:hover {
    	fill: $arrowactive;
    }
}

#arrow-right {
    right: $arrowmargin;
}

#arrow-left {
    left: $arrowmargin;
    transform: translateY(-50%) scaleX(-1);
}