---
layout: main
---
<div class="home">
{% assign posts_sorted = site.posts | sort: 'order' %}
{% for image in posts_sorted %}
  <div class="col-{{ image.col }} {{ image.classes }}">
	  {% if image.layout == 'post' %}
	    <img src="imgs/{{ image.thumbnail }}" onclick="location.href='{{ image.url | prepend: site.baseurl }}'" />
	  {% endif %}
	  {% if image.layout == 'js' %}
        {{ image.content }}
	  {% endif %}
  </div>
{% endfor %}
</div>
<div class="home-mobile">
  <h1 class="tag" id="name-header">John Morris</h1>
  {% assign posts_sorted = site.posts | sort: 'order' %}
  <div class="posts">
  {% for image in posts_sorted %}
	<div class="img-container">
	  {% if image.m-thumbnail != null %}
	    <img src="imgs-mobile/{{ image.m-thumbnail }}" onclick="location.href='{{ image.url | prepend: site.baseurl }}'" />
	  {% endif %}
	</div>
  {% endfor %}
  </div>
</div>
<link rel="stylesheet" href="/css/home.css">
<script>
	// disable mobile 'grid' icon
	$('#nav-mobile > #grid').addClass('link-disabled').attr('href','javascript://');
</script>