---
layout: main
---
<div class="home">
{% assign posts_sorted = site.posts | sort: 'order' %}
{% for image in posts_sorted %}
  <div class="col-{{ image.col-width }} img-col-{{ image.img-col-width }}">
	  {% if image.layout == 'post' %}
	    <img src="imgs/{{ image.thumbnail }}" onclick="location.href='{{ image.url | prepend: site.baseurl }}'" />
	  {% endif %}
	  {% if image.layout == 'js' %}
        {{ image.content }}
	  {% endif %}
  </div>
{% endfor %}
</div>
<link rel="stylesheet" href="/css/home.css">