<head>
<!-- Global CSS -->
	<!-- custom -->
	<link rel="stylesheet" href="/css/main.css">
	<!-- custom mobile -->
	<link rel="stylesheet" href="/css/mobile.css">
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Bitter|Domine|Nunito+Sans" rel="stylesheet">
<!-- Global JS -->
	<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
	<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>-->
	<!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>  -->
	<!-- <script src="https://code.jquery.com/color/jquery.color-2.1.2.min.js"></script> -->
	<script src="/js/custom.js"></script>
</head>
