<!-- layout for a post -->
<!DOCTYPE html>
<html>
<title> {{ page.title }} </title>
  {% include header.html %}
  <body>
    {% include nav.html %}
    <div class="post-body">
      <a href="/" style="color:#999"> (don't like this page? click here to go back)</a>
      <h3 style="margin-top:40px; margin-bottom: -15px"> {{ page.title }}</h3>
      <div class="row">
        {% for image in page.images %}
          <img class="post-subimage" src="photos/{{ image }}"></img>
        {% endfor %}
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>