<!DOCTYPE html>
<html>
  <!-- Header -->
  <title> {{ page.title }} - John Morris </title>
  {% include header.html %}
  <body>
    <!-- Nav -->
    {% include nav.html %}
    {% include nav-mobile.html %}
    <div class="post">
      {% if page.head != null or page.subhead != null %}
      <!-- Title box -->
      <div class="titlebox">
        <!-- Title -->
        {% if page.head != null %}
          <p class="title">{{ page.head }}</p>
        {% endif %}
        <!-- Subtitle -->
        {% if page.subhead != null %}
          <p class="subtitle">{{ page.subhead }}</p>
        {% endif %}
      </div>
      {% endif %}
      <!-- Main JS -->
      {{ page.content }}
      <!-- Prev / Next -->
      <div id="prevnext">
        {% assign prevorder = page.order | minus: 1 %}
        {% assign prevposts = site.posts | where:"order", prevorder %}
        {% assign prevpost = prevposts | first %}
        {% assign nextorder = page.order | plus: 1 %}
        {% assign nextposts = site.posts | where:"order", nextorder %}
        {% assign nextpost = nextposts | first %}
        {% if prevpost.url == null %}
          {% assign prevpost = site.posts | sort:"order" | last %}
        {% endif %}
        {% if nextpost.url == null %}
          {% assign nextpost = site.posts | sort:"order" | first %}
        {% endif %}
        <a href="{{prevpost.url}}">prev</a>
          /
        <a href="{{nextpost.url}}">next</a>
      </div>
    </div>
    <!-- Footer -->
    {% include footer.html %}
  </body>
  <link rel="stylesheet" href="/css/post.css">
</html>