<!DOCTYPE html>
<html>
<title> {{ page.title }} </title>
  <!-- Header -->
  {% include header.html %}
  <body>
    <!-- Nav -->
    {% include nav.html %}
    {% include nav-mobile.html %}
    <div class="post">
      <!-- Title box -->
      {% if page.head != null %}
      <div class="titlebox">
        <!-- Title -->
        {% if page.head != null %}
          <p class="title">{{ page.head }}</p>
        {% endif %}
        <!-- Subtitle -->
        {% if page.subhead != null %}
          <p class="subtitle">{{ page.subhead }}</p>
        {% endif %}
      </div>
      {% endif %}
      <!-- Images -->
      <div class="imagebox">
        {% for image in page.images %}
          <img class="subimage" src="imgs/{{ image }}"></img>
          <br>
        {% endfor %}
      </div>
      <!-- Prev / Next -->
      <div id="prevnext">
          {% assign prevorder = page.order | minus: 1 %}
          {% assign prevposts = site.posts | where:"order", prevorder %}
          {% assign prevpost = prevposts | first %}
          {% assign nextorder = page.order | plus: 1 %}
          {% assign nextposts = site.posts | where:"order", nextorder %}
          {% assign nextpost = nextposts | first %}
          {% if prevpost.url != null %}
            <a href="{{prevpost.url}}">prev</a>
          {% endif %}
          {% if prevpost.url != null and nextpost.url != null %}
            / 
          {% endif %}
          {% if nextpost.url != null %}
            <a href="{{nextpost.url}}">next</a>
          {% endif %}
      </div>
    </div>
    <!-- Footer -->
    {% include footer.html %}
  </body>
  <link rel="stylesheet" href="/css/post.css">
</html>