<!DOCTYPE html>
<html>
<title> {{ page.title }} </title>
  <!-- Header -->
  {% include header.html %}
  <body>
    <!-- Nav -->
    {% include nav.html %}
    <div class="post">
      <!-- Title box -->
      {% if page.title != null %}
      <div class="titlebox">
        <!-- Title -->
        {% if page.title != null %}
          <p class="title">{{ page.head }}</p>
        {% endif %}
        <!-- Subtitle -->
        {% if page.subtitle != null %}
          <p class="subtitle">{{ page.subhead }}</p>
        {% endif %}
      </div>
      {% endif %}
      <!-- Images -->
      <div>
        {% for image in page.images %}
          <img class="subimage" src="photos/{{ image }}"></img>
        {% endfor %}
      </div>
      <!-- Prev / Next -->
      <div id="prevnext">
        <a>prev</a> / <a>next</a>
      </div>
    </div>
    <!-- Footer -->
    {% include footer.html %}
  </body>
</html>